.container{
    display: flex;
    justify-content: space-around;
}
.container button{
    border-radius: 20px;
    height: 37px;
    margin: 5px;
    background-color: chartreuse;
    color: black;
    padding: 0 10px 0 10px;
    font-size: 13px;
    border: 1px;
    cursor: pointer;
    font-family: cursive;
    font-weight: bolder;
}
.btnHome:hover{
    background-color: #16b600;
    color: white;
}
.btnFav:hover{
    background-color: #16b600;
    color: white;
}
.btnAbt:hover{
    background-color: #16b600;
    color: white;
}
.btnLO:hover{
    background-color: #eb1f04;
    color: white;
}