.container{
    display: flex;
    justify-content: space-around;
    background-image: url('../../components/Back.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
    overflow: hidden;
}

.container button{
    border-radius: 20px;
    height: 30px;
    margin: 5px;
    color: black;
    padding: 0 10px 0 10px;
    font-size: 13px;
    border: 1px;
    cursor: pointer;
    font-family: cursive;
    font-weight: bolder;
    width: fit-content;
}

.btnLoc{
    display: flex;
    background-color: #0266fd;
}

.btnLoc:hover{
    background-color: #16b600;
    color: white;
    box-shadow: 2px 2px 3px 3px #1302fd;
    border: 1px;
    border-radius: 20px;
}

.btnHome{
    width: fit-content;
    border-radius: 500px;
    background-color: chartreuse;
}

.btnHome:hover{
    background-color: #16b600;
    color: white;
    box-shadow: 2px 2px 3px 3px #1302fd;
}

.btnFav{
    background-color: chartreuse;
}

.btnFav:hover{
    background-color: #16b600;
    color: white;
    box-shadow: 2px 2px 3px 3px #fd02a9;
}

.btnAbt{
    background-color: chartreuse;
}

.btnAbt:hover{
    background-color: #16b600;
    color: white;
    box-shadow: 2px 2px 3px 3px #02fd2c;
}

.btnLO{
    background-color: chartreuse;
}

.btnLO:hover{
    background-color: white;
    color: red;
    box-shadow: 2px 2px 3px 3px red;
}