.container{
   display: flex;
   justify-content: space-between;
   flex-basis: auto;
   flex-wrap: wrap;
   gap: 20px;
   width: fit-content;
   height: fit-content;
}
.favs{
   border: solid 1px rgb(14, 146, 1);
   box-shadow: 2px 2px 3px 3px #16b600;
   border-radius: 0 20px 20px 20px;
   width: 300px;
   height: fit-content;
}
.removeBtn{
   border-color: transparent;
   background-color: transparent;
}
.name{
    font-weight: bold;
    font-size: fit-content;
    color: #0d7501;
 }
 .species{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
 }
 .gender{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
 }
 .origin{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
 }
 .location{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
 }
 .img{
    border: solid 5px rgb(2, 248, 23);
    border-radius: 200px;
    transition: 1s ease;
 } 
 .img:hover{
   -webkit-transform: scale(1.2);
   -ms-transform: scale(1.2);
   transform: scale(1.2);
   transition: 1s ease;
 }