.searchBar{
   display: flex;
   margin: auto;
   width: 250px;
   height: 37px;
}
.searchBar input{
   border-radius: 20px;
   height: 37px;
   width: 300px;
   margin-right: 5px;
   font-size: larger;
}
.searchBar button {
   border-radius: 20px;
   height: 37px;
   background-color: chartreuse;
   color: black;
   font-size: 13px;
   border: 1px;
   cursor: pointer;
   font-family: cursive;
   font-weight: bolder;
}

.searchBar button:hover {
   background-color: #16b600;
   color: white;
}
