.container{
    display: flex;
    flex-direction: column;
    /* justify-items: center; */
    align-items: center;
    border: solid black;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    background-image: url('../../components/Back.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 80px 0;
    justify-content: space-around;
}
.contName{
    /* background-color: aliceblue; */
    justify-content: center;
    width: fit-content;
    height: fit-content;
    border-radius: 300px;
    text-shadow: -2px -2px 1px rgb(57, 250, 31), 2px 2px 1px rgb(57, 250, 31), -2px 2px 1px rgb(57, 250, 31), 2px -2px 1px rgb(57, 250, 31);
}
.name{
    color: black;
    margin: 0;
    font-size: 30px;
    text-decoration: underline;
    text-shadow: -2px -2px 1px rgb(57, 250, 31), 2px 2px 1px rgb(57, 250, 31), -2px 2px 1px rgb(57, 250, 31), 2px -2px 1px rgb(57, 250, 31);
}
.img{
    width: 150px;
    height: 200px;
}
.contDescription{
    /* background-color: aliceblue; */
    text-shadow: -2px -2px 1px rgb(57, 250, 31), 2px 2px 1px rgb(57, 250, 31), -2px 2px 1px rgb(57, 250, 31), 2px -2px 1px rgb(57, 250, 31);
    color: aliceblue;
    width: fit-content;
    height: fit-content;
    border-radius: 300px;
}
.description{
    color: black;
    font-weight: bolder;
    margin: 0;
    font-size: 20px;
}